* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

th,
td {
  padding: 10px 15px;
}

input, select {
  border-radius: 5px;
  padding: 5px 10px;
}

button {
  border-radius: 5px;
  outline: 0;
  border: none;
  padding: 10px 20px;
}

.required {
  color: red;
}

body {
  width: 1440px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #5c5858;
  height: 80px;
}

body .header .logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  padding-left: 50px;
}

body .header .logo:hover {
  color: #f59797;
}

body .header .user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding-right: 50px;
}

body .header .user-menu__item {
  padding-right: 10px;
}

body .header .user-menu__item .avatar {
  height: 50px;
  width: 50px;
  border-radius: 999px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

body .header .user-menu__item .avatar:hover {
  height: 80px;
  width: 80px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .header .user-menu .user-name {
  color: #fff;
  font-weight: 500;
}

body .header .user-menu .user-name:hover {
  color: #f59797;
}

main .navigation {
  background-color: rgba(235, 232, 232, 0.61);
}

main .navigation__item {
  padding: 20px 0;
  padding-left: 50px;
}

main .navigation .top-menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding-left: 50px;
  padding-bottom: 20px;
}

main .navigation .top-menu__item {
  padding-right: 30px;
  font-weight: 600;
}

main .navigation .top-menu .add-group {
  color: blue;
}

main .navigation .top-menu__item:hover .selected {
  color: blue;
}

main .breadcrumb {
  padding-left: 50px;
}

main .breadcrumb .navigation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

main .breadcrumb .navigation-content__item {
  padding-right: 10px;
}

main .breadcrumb .breadcrumb-title {
  font-size: 48px;
  font-weight: 700;
}

main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-left: 100px;
}

main .content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .content .content-left {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .content .content-left img {
  height: 200px;
  width: 200px;
  padding: 70px;
  border-style: dashed;
  color: #92929A;
}

main .content .content-left .img-button--margin {
  margin-top: 20px;
}

main .content .content-left .upload {
  display: none;
}

main .content .content-left .upload-link {
  text-decoration: underline;
}

main .content .content-right {
  margin: 0 100px;
}

main .content .content-right__item {
  margin-bottom: 10px;
}

main .content .content-right .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .content .content-right .description__item--width {
  width: 24em;
}

main .content .create {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #5353df;
}

footer {
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: 400;
  padding-top: 40px;
  padding-bottom: 33px;
  color: #92929A;
}
/*# sourceMappingURL=style.css.map */