* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}
th,
td {
  padding: 10px 15px;
}

input, select  {
  border-radius: 5px;
  padding: 5px 10px;
}

button  {
  border-radius: 5px;
  outline: 0;
  border: none;
  padding: 10px 20px;
}

.required  {
  color: red;
}

// block body
body {
  width: 1440px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(92, 88, 88);
    height: 80px;

    .logo {
      font-size: 30px;
      font-weight: 700;
      color: #fff;
      padding-left: 50px;
    }
    .logo:hover  {
      color: #f59797;
    }

    .user-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      padding-right: 50px;

      &__item {
        padding-right: 10px;

        .avatar {
          height: 50px;
          width: 50px;
          border-radius: 999px;
          transition: transform .5s;
        }

        .avatar:hover  {
          height:80px;
          width: 80px;
          transform: scale(1.1);
        }
      }

      .user-name {
        color: #fff;
        font-weight: 500;
      }
      .user-name:hover  {
        color: #f59797;
      }
    }
  }
}

//main
main {
  .navigation {
    background-color: rgba(235, 232, 232, 0.61);

    &__item {
      padding: 20px 0;
      padding-left: 50px;
    }

    .top-menu {
      list-style-type: none;
      display: flex;
      background-color: #fff;
      padding-left: 50px;
      padding-bottom: 20px;

      &__item {
        padding-right: 30px;
        font-weight: 600;
      }

      .add-group {
        color: blue;
      }
      &__item:hover .selected  {

        color: blue;
      }
    }
  }
  .breadcrumb {
    padding-left: 50px;

    .navigation-content {
      display: flex;
      list-style-type: none;

      &__item {
        padding-right: 10px;
      }
    }

    .breadcrumb-title {
      font-size: 48px;
      font-weight: 700;
    }
  }
  .content  {
    display: flex;
    margin-top: 30px;
    margin-left: 100px;

    &__item  {
      display:flex;
      flex-direction: column;
    }

    .content-left  {
      justify-content: center;
      align-items: center;

      img  {
        height: 200px;
        width: 200px;
        padding: 70px;
        border-style: dashed;
        color:#92929A;
      }

      .img-button--margin  {
        margin-top:20px;
      }

      .upload  {
        display: none;
      }

      .upload-link  {
        text-decoration: underline;
      }
    }

    .content-right  {
      margin: 0 100px;

      &__item  {
        margin-bottom: 10px;
      }

      .description  {
        display: flex;
        flex-direction: column;
        
        &__item  {
          
          &--width   {
            width: 24em;
          }
        }
      }
    }

    .create  {
      width: fit-content;
      background:#5353df;
    }
  }
}

footer  {
  width: 1440px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  padding-top: 40px;
  padding-bottom: 33px;
  color: #92929A;
}
